<div class="like-widget-container"
    (click)="likeWidgetComponentClik()"
    (keyup.enter)="likeWidgetComponentClik()"
>
    <fa-icon
        tabindex="0"
        role="button"
        [attr.aria-describedby]="id"
        size="1x"
        [icon]="fonts.faThumbsUp"
    >
    </fa-icon>
    <span
    class="like-counter"
    [attr.id]="id"
    [attr.aria-label]="likesWidgetComponent + ': people liked'"
    aria-live="true"
    aria-atomic="true"
    >
    {{ likesWidgetComponent }}
    </span>
</div>


<!-- O atributo aria-live é utilizado quando mudamos o conteúdo de algum elemento dinamicamente
e queremos que o novo valor seja anunciado através de screen readers.
Já o atributo aria-atomic indica para o screen reader se ele deve anunciar
apenas o conteúdo que mudou dinamicamente de uma live area ou se deve anunciar
todo o conteúdo. -->



<!-- Qual a finalidade do atributo aria-describedby?
Permitir que o elemento seja descrito pelo elemento cujo o ID foi atribuído
à propriedade aria-describedby. -->